<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      <%- include("../partials/header.ejs") %>
      <img class="portrait" src="./img/me.jpg" alt="Me" />
      <p>
        <i>
          I am Archit Tripathi, currently pursuing CSE from MMMUT. I am
          interested in MERN stack web development and Machine Learning(ML).
          Working over coffee to learn new things is what I do.
        </i>
        😀😉
      </p>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
